.idea
idea

dist
db.sqlite3

.egg-info/
.installed.cfg
*.egg

venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

#.env.dev
#entrypoint.sh
docker-compose.yml
docker-compose-old.yml